
projeto/images/*

projeto/search/*
!projeto/pesos/.gitkeep

projeto/datasets/*
!projeto/pesos/.gitkeep

projeto/pesos/*
!projeto/pesos/.gitkeep

projeto/modelos/*
!projeto/modelos/.gitkeep

projeto/classificadores/*
!projeto/classificadores/.gitkeep

projeto/.ipynb_checkpoints

.DS_Store